{{define "footer.html"}}
</div> <!-- end container div, see header.html -->
<p style="height:4em;margin:0px;">&nbsp;</p>
<div id="footer">
	<a href="https://go.dev/doc/tutorial/web-service-gin" target="_blank">https://go.dev/doc/tutorial/web-service-gin</a><br /><br />
	<a href="https://betterprogramming.pub/how-to-render-html-pages-with-gin-for-golang-9cb9c8d7e7b6" target="_blank">
		https://betterprogramming.pub/how-to-render-html-pages-with-gin-for-golang-9cb9c8d7e7b6</a>
</div>
</body>
</html>
{{end}}
